
$font-stack: Helvetica, sans-serif
$font-poiret: 'Poiret One', cursive
$root-font-size: 10px

$color-green-gradient: linear-gradient(to right, rgba(50, 220, 100, 0.7), rgba(100, 220, 200, 0.7))
$color-purple-gradient: linear-gradient(to right,rgba(220, 50, 100, 0.7), rgba(100, 100, 220, 0.7))
html
  font: $root-font-size $font-poiret

body
  background: $color-green-gradient
  background-size: 100% 100%
  background-repeat: no-repeat

html, body
  width: 100%
  height: 100%
  min-height: 100%
  height: auto
  position: relative

.text-center
  text-align: center

.text-gradient-purple
  background-image: $color-purple-gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

.text-gradient-green
  background-image: $color-green-gradient
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

h1
  color: #000
  font: bold 10rem/10rem $font-poiret

h2
  color: #000
  font: bold 8rem/8rem $font-poiret

h3
  color: #000
  font: 6rem/6rem $font-poiret

h4
  color: #000
  font: 4rem/4rem $font-poiret

p
  color: #000
  font: 2rem/2rem $font-poiret

span
  color: #000
  font: 1rem/1rem $font-poiret

ul
  display: block
  width: 100%
  height: 100px
  li
    display: block
    float: left
    margin: 0 20px 0 0
    a
      display: block
      padding: 5px
      font: bold 5rem/7rem $font-poiret
      @extend .text-gradient-purple

.monkey
  +img_monkey()
  margin: 0 auto

.example
  +sprite($arrow-apple)

.shit-item
  padding: 30px
  margin: 30px
  background: $color-purple-gradient
  >div
    font: bold 5rem $font-poiret

.pages
  padding: 20px

.dis-table
  display: table
.dis-table-row
  display: table-row
.dis-table-cell
  display: table-cell


.table-block
  $white: rgba(150, 130, 30, 0.75)
  $black: rgba(150, 130, 130, 0.75)
  $grey: rgb(150, 150, 150)
  width: 100%
  height: 400px
  .exp-block
    box-sizing: border-box
    width: 100%
    height: 100%
    font-size: 5rem
    padding: 20rem

  tr, .dis-table-row
    &:nth-child(2n + 1)
      td, .dis-table-cell
        &:nth-child(2n + 1)
          background: $white
        &:nth-child(2n)
          background: $black
    &:nth-child(2n)
      td, .dis-table-cell
        &:nth-child(2n + 1)
          background: $black
        &:nth-child(2n)
          background: $white

  td, .dis-table-cell
    text-align: center
    vertical-align: middle
    border: 2px solid $black
    transition: transform .3s ease, background .3s ease
    position: relative
    cursor: pointer
    &:before, &:after
      content: ''
      display: block
      width: 1rem
      height: 1rem
      position: absolute
      border-radius: 100px
      top: 50%
      margin: -0.5rem 0 0 0
      opacity: 0
      transition: all .75s ease
      background: $white
    &:before
      transform: translateX(-2rem) scale(0.5)
      left: 0
    &:after
      transform: translateX(2rem) scale(0.5)
      right: 0
    &:hover
      transform: scale(1.5)
      background: $grey !important
      z-index: 999
      &:before, &:after
        opacity: 1
        transform: translateX(0)

