
$font-stack: Helvetica, sans-serif
$font-poiret: 'Poiret One', cursive
$root-font-size: 10px

html
  font: $root-font-size $font-poiret

html, body
  width: 100%
  height
  position: relative

h1
  color: #000
  font: 10rem/10rem $font-poiret

h2
  color: #000
  font: 8rem/8rem $font-poiret

h3
  color: #000
  font: 6rem/6rem $font-poiret

h4
  color: #000
  font: 4rem/4rem $font-poiret

p
  color: #000
  font: 2rem/2rem $font-poiret

span
  color: #000
  font: 1rem/1rem $font-poiret

#image
  display: none

.generateRhomb
  width: 499px
  height: 326px
  border: 2px solid #000
.canvas-container
  margin: 0 auto

.monkey
  +img_monkey()
  margin: 0 auto
  // transition: all .1s cubic-bezier(0.25, 0.1, 0.76, 0.05)

.example
  +sprite($arrow-apple)
//   background-image: url('/images/sprite.png')
